[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "npsr"]
	path = npsr
	url = https://github.com/fabiansellmann/npsr
	shallow = true
	registered = true
